In [1]:
conda init

no change     /Users/aesthetic/opt/anaconda3/condabin/conda
no change     /Users/aesthetic/opt/anaconda3/bin/conda
no change     /Users/aesthetic/opt/anaconda3/bin/conda-env
no change     /Users/aesthetic/opt/anaconda3/bin/activate
no change     /Users/aesthetic/opt/anaconda3/bin/deactivate
no change     /Users/aesthetic/opt/anaconda3/etc/profile.d/conda.sh
no change     /Users/aesthetic/opt/anaconda3/etc/fish/conf.d/conda.fish
no change     /Users/aesthetic/opt/anaconda3/shell/condabin/Conda.psm1
no change     /Users/aesthetic/opt/anaconda3/shell/condabin/conda-hook.ps1
no change     /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages/xontrib/conda.xsh
no change     /Users/aesthetic/opt/anaconda3/etc/profile.d/conda.csh
no change     /Users/aesthetic/.bash_profile
No action taken.

Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install alpha_vantage pandas

Requirement already satisfied: alpha_vantage in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (2.3.1)
Requirement already satisfied: pandas in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (1.1.3)
Requirement already satisfied: aiohttp in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from alpha_vantage) (3.7.3)
Requirement already satisfied: requests in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from alpha_vantage) (2.24.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: async-timeout<4.0,>=3.0 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from aiohttp->alpha_vantage) (3.0.1)
Requirement already satisfied: chardet<4.0,>=2.0 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from aiohttp->alpha_vantage) (3.0.4)
Requirement already satisfied: typing-extensions>=3.6.5 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from aiohttp->alpha_vantage) (3.7.4.3)
Requirement already satisfied: attrs>=17.3.0 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from aiohttp->alpha_vantage) (20.3.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from aiohttp->alpha_vantage) (5.1.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from aiohttp->alpha_vantage) (1.6.3)
Requirement already satisfied: idna<3,>=2.5 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from requests->alpha_vantage) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from requests->alpha_vantage) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from requests->alpha_vantage) (2020.6.20)
Requirement already satisfied: six>=1.5 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from alpha_vantage.timeseries import TimeSeries
from pprint import pprint
from alpha_vantage.techindicators import TechIndicators
from datetime import date
from datetime import timedelta

import matplotlib.pyplot as plt 
import sys
import pandas as pd
import time
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
import numpy as np

In [26]:
# Obtaining stock data from alpha vantage 
sym='AAPL'




ticker_list=['MS', 'BT-A.L', 'TSLA', 'PFE' ]

column_names=['1. open', '2. high', '3. low', '4. close', '5. adjusted close', '6. volume', 
               '7. dividend amount', '8. split coefficient', 'Ticker']
#obtains stock data from the previous day date to 2018-11-29


def stock_data(sym):
    ts = TimeSeries(key='SUXOFAIGXM6HEP9Y', output_format='pandas')
    data, meta_data = ts.get_daily_adjusted(symbol=sym, outputsize='full')
    data_date_changed = data[:'2019-01-01']
    data_date_changed['Ticker']= sym
    return data_date_changed


data_dated = pd.DataFrame(columns = column_names)


for ticker in ticker_list:
    data_dated = data_dated.append(stock_data(ticker), sort=False)

<ipython-input-26-ea0ffbbf0c4d>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_date_changed['Ticker']= sym

In [42]:
data_dated['date']= data_dated.index

In [43]:
data_dated.sort_index(inplace=True)
data_dated.sort_values(by = ['Ticker','date'], inplace = True)


data_dated['change_in_price']= data_dated['4. close'].diff()

In [45]:
mask = data_dated['Ticker'] != data_dated['Ticker'].shift(1)

data_dated['change_in_price']= np.where(mask==True, np.nan, data_dated['change_in_price'])

data_dated[data_dated.isna().any(axis=1)]

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Ticker,date,change_in_price
2019-01-02,237.00,242.20,233.25,240.00,220.802700,20278421.0,0.0,1.0,BT-A.L,2019-01-02,NaN
2019-01-02,39.02,40.72,38.76,40.40,37.935801,10648013.0,0.0,1.0,MS,2019-01-02,NaN
2019-01-02,43.12,43.50,42.64,43.25,37.587547,25076212.0,0.0,1.0,PFE,2019-01-02,NaN
2019-01-02,306.10,315.13,298.80,310.12,62.024000,11658600.0,0.0,1.0,TSLA,2019-01-02,NaN

In [44]:
data_dated.head(400)

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Ticker,date,change_in_price
2019-01-02,237.00,242.2000,233.2500,240.00,220.8027,20278421.0,0.0,1.0,BT-A.L,2019-01-02,NaN
2019-01-03,240.10,242.6000,237.5500,240.10,220.8947,13975097.0,0.0,1.0,BT-A.L,2019-01-03,0.10
2019-01-04,241.00,241.9000,236.4500,237.35,218.3646,19484073.0,0.0,1.0,BT-A.L,2019-01-04,-2.75
2019-01-07,239.95,242.0000,237.0660,237.95,218.9167,15507525.0,0.0,1.0,BT-A.L,2019-01-07,0.60
2019-01-08,237.75,238.9000,229.4000,231.00,212.5226,26557234.0,0.0,1.0,BT-A.L,2019-01-08,-6.95
...,...,...,...,...,...,...,...,...,...,...,...
2020-07-24,111.85,113.6000,110.7000,112.35,112.3500,16502854.0,0.0,1.0,BT-A.L,2020-07-24,-0.40
2020-07-27,111.95,112.2816,108.0500,108.05,108.0500,19115944.0,0.0,1.0,BT-A.L,2020-07-27,-4.30
2020-07-28,109.55,112.1000,107.4179,109.95,109.9500,26656445.0,0.0,1.0,BT-A.L,2020-07-28,1.90
2020-07-29,110.00,113.0000,108.4163,111.90,111.9000,19329051.0,0.0,1.0,BT-A.L,2020-07-29,1.95
2020-07-30,111.50,111.7000,107.1500,107.85,107.8500,18842811.0,0.0,1.0,BT-A.L,2020-07-30,-4.05

In [8]:
# df_inidicators = pd.DataFrame (data, columns = ['First Column Name','Second Column Name',...])

In [18]:
data_dated.shape

(2103, 11)

In [ ]:
data_dated.sort_index(inplace=True)

In [ ]:
time.sleep(20)

In [ ]:
# *****************************Technical Indicators*******************************************************************

In [ ]:
# *****************************RSI*******************************************************************

# getting the date of the previous day
yday= date.today()- timedelta(1) 

# technical indicators from alphavantage
ti = TechIndicators(key = 'SUXOFAIGXM6HEP9Y', output_format = 'pandas')

# obtaining  inidcator from alpha vantage
stockRSI, meta_data= ti.get_rsi(symbol = sym, interval = 'daily',time_period = 20, series_type='close')

# resting index so that date is no longer the index
stockRSI.reset_index(inplace = True) 

# sorting date column in decending order
stockRSI.sort_values(by=['date'], inplace=True, ascending=False)

# filtering date 
mask = (stockRSI['date'] > '2018-11-29') & (stockRSI['date'] <=pd.to_datetime(yday))

stockRSI = stockRSI.loc[mask]


stockRSI.head(20)

# resetting index 
stockRSI.set_index('date', inplace=True)


data_dated['RSI']= stockRSI[['RSI']].copy()

In [ ]:
# *****************************EMA*******************************************************************


# obtaining EMA inidcator from alpha vantage
stockEMA,q= ti.get_ema(symbol = sym, interval = 'daily', time_period = 20)

# resting index so that date is no longer the index
stockEMA.reset_index(inplace = True) 

# sorting date column in decending order
stockEMA.sort_values(by=['date'], inplace=True, ascending=False)

# filtering date 
mask = (stockEMA['date'] > '2018-11-29') & (stockEMA['date'] <=pd.to_datetime(yday))

stockEMA = stockEMA.loc[mask]


stockEMA.head(20)

# resetting index 
stockEMA.set_index('date', inplace=True)


data_dated['EMA']= stockEMA[['EMA']].copy()

In [ ]:
# *****************************MACD*******************************************************************

# obtaining MACD inidcator from alpha vantage
stockMACD,q= ti.get_macd(symbol = sym, interval = 'daily', fastperiod = 12, slowperiod = 26, signalperiod = 9)

# resting index so that date is no longer the index
stockMACD.reset_index(inplace = True) 

# sorting date column in decending order
stockMACD.sort_values(by=['date'], inplace=True, ascending=False)


# filtering date 
mask = (stockMACD['date'] > '2018-11-29') & (stockMACD['date'] <=pd.to_datetime(yday))

stockMACD = stockMACD.loc[mask]


stockMACD.head(20)

# resetting index 
stockMACD.set_index('date', inplace=True)


data_dated['MACD']= stockMACD[['MACD']].copy()

In [ ]:
# ***********************************CCI*******************************************************************
stockCCI, q = ti.get_cci(symbol = sym, interval = 'daily', time_period = 20)

# resting index so that date is no longer the index
stockCCI.reset_index(inplace = True) 

# sorting date column in decending order
stockCCI.sort_values(by=['date'], inplace=True, ascending=False)

# filtering date 
mask = (stockCCI['date'] > '2018-11-29') & (stockCCI['date'] <=pd.to_datetime(yday))

stockCCI = stockCCI.loc[mask]


stockCCI.head(20)

# resetting index 
stockCCI.set_index('date', inplace=True)


data_dated['CCI']= stockCCI[['CCI']].copy()

In [ ]:
data_dated.head(20)

In [ ]:
time.sleep(20)

In [ ]:
# ***********************************ROC*******************************************************************
stockROC, meta_data = ti.get_roc(symbol=sym, interval='daily', time_period=20, series_type='close')

# resting index so that date is no longer the index
stockROC.reset_index(inplace = True) 

# sorting date column in decending order
stockROC.sort_values(by=['date'], inplace=True, ascending=False)


# filtering date 
mask = (stockROC['date'] > '2018-11-29') & (stockROC['date'] <=pd.to_datetime(yday))

stockROC = stockROC.loc[mask]


stockROC.head(20)

# resetting index 
stockROC.set_index('date', inplace=True)


data_dated['ROC']= stockROC[['ROC']].copy()

In [ ]:
time.sleep(20)

In [ ]:
# ***********************************ADX*******************************************************************
stockAD, meta_data = ti.get_adx(symbol=sym, interval='daily', time_period=20)


# resting index so that date is no longer the index
stockAD.reset_index(inplace = True) 

# sorting date column in decending order
stockAD.sort_values(by=['date'], inplace=True, ascending=False)

# filtering date 
mask = (stockAD['date'] > '2018-11-29') & (stockAD['date'] <=pd.to_datetime(yday))

stockAD = stockAD.loc[mask]


stockAD.head(20)

# resetting index 
stockAD.set_index('date', inplace=True)


data_dated['ADX']= stockAD[['ADX']].copy()
# data_dated['SlowD']= stockAD[['SlowD']].copy()

In [ ]:
# ***********************************CMO*******************************************************************


# obtaining CMO inidcator from alpha vantage
stockCMO,q= ti.get_cmo(symbol = sym, interval = 'daily')

# resting index so that date is no longer the index
stockCMO.reset_index(inplace = True) 

# sorting date column in decending order
stockCMO.sort_values(by=['date'], inplace=True, ascending=False)

# filtering date 
mask = (stockCMO['date'] > '2018-11-29') & (stockCMO['date'] <=pd.to_datetime(yday))

stockCMO = stockCMO.loc[mask]


stockCMO.head(20)

# resetting index 
stockCMO.set_index('date', inplace=True)


data_dated['CMO']= stockCMO[['CMO']].copy()

In [ ]:
data_dated['priceChange']=data_dated['1. open']-data_dated['4. close']

In [ ]:
for index, row in data_dated.iterrows():
    if( row['priceChange'] >0):
        data_dated.at[index, 'class']= 'UP'
    else:
          data_dated.at[index, 'class']= 'DOWN'

In [ ]:
data = {'RSI':  data_dated['RSI'],
        'EMA': data_dated['EMA'],
         'MACD': data_dated['MACD'],
         'CCI': data_dated['CCI'],
         'ROC': data_dated['ROC'],
         'ADX': data_dated['ADX'],
         'CMO': data_dated['CMO'],
         'Class': data_dated['class']
         
        }

df_prediction = pd.DataFrame (data, columns = ['Class','RSI', 'EMA', 'MACD', 'CCI', 'ROC', 'ADX', 'CMO'])
df_prediction.head()

In [ ]:
df_prediction= df_prediction.dropna()

In [ ]:
df_prediction[pd.isnull(df_prediction).any(axis=1)]

In [ ]:

independent= df_prediction.iloc[0:, 1:7]
# independent.head÷

In [ ]:
df_prediction.shape

In [ ]:
independent.shape

In [ ]:
data_dep={"Class":df_prediction['Class']}
dependent= pd.DataFrame (data_dep, columns = ['Class'])

In [ ]:
dependent.shape

In [ ]:
le_class= LabelEncoder()

dependent['Class_n']= le_class.fit_transform(dependent["Class"])

In [ ]:
dependent= dependent.drop(['Class'], axis='columns')

In [ ]:
# dependent= dependent.values

In [ ]:
# dependent.head()

In [ ]:
x_train, x_test,y_train,y_test= train_test_split(independent, dependent, test_size= 0.33, stratify=dependent, random_state= 101)

In [ ]:
y_train.value_counts(normalize =True)

In [ ]:
y_test.value_counts(normalize=True)

In [ ]:
x_train.shape, y_train.shape

In [ ]:
x_test.shape, y_test.shape

In [ ]:
# //random state ensure we get the same results everytime we run a model
dt_model = DecisionTreeClassifier(random_state=10)

In [ ]:
df_prediction[pd.isnull(df_prediction).any(axis=1)]

In [ ]:
# np.isnan(x_train)
# np.nan_to_num(x_train)

np.isnan(x_train)

In [ ]:
print(x_test[x_test.isin(x_train)])

In [ ]:
#fitting the model 
dt_model.fit(x_train,y_train)

In [ ]:
# //checking the accuracy of the model on the training set
dt_model.score(x_train, y_train)

In [ ]:
dt_model.score(x_test, y_test)

In [ ]:
time.sleep(20)