In [1]:
conda init

no change     /Users/aesthetic/opt/anaconda3/condabin/conda
no change     /Users/aesthetic/opt/anaconda3/bin/conda
no change     /Users/aesthetic/opt/anaconda3/bin/conda-env
no change     /Users/aesthetic/opt/anaconda3/bin/activate
no change     /Users/aesthetic/opt/anaconda3/bin/deactivate
no change     /Users/aesthetic/opt/anaconda3/etc/profile.d/conda.sh
no change     /Users/aesthetic/opt/anaconda3/etc/fish/conf.d/conda.fish
no change     /Users/aesthetic/opt/anaconda3/shell/condabin/Conda.psm1
no change     /Users/aesthetic/opt/anaconda3/shell/condabin/conda-hook.ps1
no change     /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages/xontrib/conda.xsh
no change     /Users/aesthetic/opt/anaconda3/etc/profile.d/conda.csh
no change     /Users/aesthetic/.bash_profile
No action taken.

Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install alpha_vantage pandas

Requirement already satisfied: alpha_vantage in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (2.3.1)
Requirement already satisfied: pandas in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (1.1.3)
Requirement already satisfied: aiohttp in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from alpha_vantage) (3.7.3)
Requirement already satisfied: requests in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from alpha_vantage) (2.24.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: chardet<4.0,>=2.0 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from aiohttp->alpha_vantage) (3.0.4)
Requirement already satisfied: async-timeout<4.0,>=3.0 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from aiohttp->alpha_vantage) (3.0.1)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from aiohttp->alpha_vantage) (1.6.3)
Requirement already satisfied: attrs>=17.3.0 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from aiohttp->alpha_vantage) (20.3.0)
Requirement already satisfied: typing-extensions>=3.6.5 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from aiohttp->alpha_vantage) (3.7.4.3)
Requirement already satisfied: multidict<7.0,>=4.5 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from aiohttp->alpha_vantage) (5.1.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from requests->alpha_vantage) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from requests->alpha_vantage) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from requests->alpha_vantage) (2.10)
Requirement already satisfied: six>=1.5 in /Users/aesthetic/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from alpha_vantage.timeseries import TimeSeries
from pprint import pprint
from alpha_vantage.timeseries import TimeSeries 
# from stockstats import StockDataFrame as Sdf
from alpha_vantage.techindicators import TechIndicators
import matplotlib.pyplot as plt 
import sys
import pandas as pd

In [4]:
# Obtaining stock data from alpha vantage 
symbol='AAPL'

def stock_data(symbol):
    ts = TimeSeries(key='SUXOFAIGXM6HEP9Y', output_format='pandas')
    data, meta_data = ts.get_daily_adjusted(symbol='AAPL', outputsize='full')
    data_date_changed = data[:'2018-11-29']
    return data_date_changed

data_dated = stock_data(symbol)

In [5]:
from datetime import date
from datetime import timedelta

today = date.today()



yday= date.today()- timedelta(1)

print(yday)

2021-01-05

In [6]:
ti = TechIndicators(key = 'SUXOFAIGXM6HEP9Y', output_format = 'pandas')
stockSMA, meta_data= ti.get_sma(symbol = 'AAPL', interval = 'daily',time_period = 20)
# df_applTI= pd.DataFrame(appl, columns=['date', 'TI'])
# appl.set_index('date', inplace=True)
# ap = appl[:'2021-01-04']
# df_applTI.head(50)

stockSMA.reset_index(inplace = True) 


stockSMA.sort_values(by=['date'], inplace=True, ascending=False)

mask = (stockSMA['date'] > '2018-11-29') & (stockSMA['date'] <=pd.to_datetime(yday))
stockSMA = ap.loc[mask]

stockSMA.head(20)
stockSMA.set_index('date', inplace=True)
print (stockSMA['SMA'])

data_dated['SMA']= stockSMA[['SMA']].copy()

KeyError: 'date'

In [ ]:
data_dated.head(50)

In [5]:
# *****************************Technical Indicators*******************************************************************

In [38]:
# Simple moving Average
def SMA(data, periods=20):
    data_dated['SMA']= data_dated['4. close'].rolling(window =periods).mean()
    return data_dated

In [39]:
SMA(data_dated)

,date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,SMA
0,2021-01-04,133.52,133.6116,126.7600,129.41,129.410000,143301887.0,0.0,1.0,NaN
1,2020-12-31,134.08,134.7400,131.7200,132.69,132.690000,99116586.0,0.0,1.0,NaN
2,2020-12-30,135.58,135.9900,133.4000,133.72,133.720000,96452124.0,0.0,1.0,NaN
3,2020-12-29,138.05,138.7890,134.3409,134.87,134.870000,121047324.0,0.0,1.0,NaN
4,2020-12-28,133.99,137.3400,133.5100,136.69,136.690000,123124632.0,0.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...
522,2018-12-06,171.76,174.7800,170.4200,174.72,42.662410,43098410.0,0.0,1.0,160.3960
523,2018-12-04,180.95,182.3900,176.2700,176.69,43.143436,41344282.0,0.0,1.0,161.8175
524,2018-12-03,184.46,184.9400,181.2100,184.82,45.128586,40798002.0,0.0,1.0,163.9490
525,2018-11-30,180.29,180.3300,177.0300,178.58,43.604929,39531549.0,0.0,1.0,164.9820
526,2018-11-29,182.66,182.8000,177.7000,179.55,43.841779,41769992.0,0.0,1.0,166.0725

In [47]:
data_dated.head(20)

,date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,SMA
0,2021-01-04,133.52,133.6116,126.7600,129.410,129.410,143301887.0,0.0,1.0,NaN
1,2020-12-31,134.08,134.7400,131.7200,132.690,132.690,99116586.0,0.0,1.0,NaN
2,2020-12-30,135.58,135.9900,133.4000,133.720,133.720,96452124.0,0.0,1.0,NaN
3,2020-12-29,138.05,138.7890,134.3409,134.870,134.870,121047324.0,0.0,1.0,NaN
4,2020-12-28,133.99,137.3400,133.5100,136.690,136.690,123124632.0,0.0,1.0,NaN
5,2020-12-24,131.32,133.4600,131.1000,131.970,131.970,54930064.0,0.0,1.0,NaN
6,2020-12-23,132.16,132.4300,130.7800,130.960,130.960,88223692.0,0.0,1.0,NaN
7,2020-12-22,131.61,134.4050,129.6500,131.880,131.880,169351825.0,0.0,1.0,NaN
8,2020-12-21,125.02,128.3100,123.4490,128.230,128.230,121251553.0,0.0,1.0,NaN
9,2020-12-18,128.96,129.1000,126.1200,126.655,126.655,192541496.0,0.0,1.0,NaN
10,2020-12-17,128.90,129.5800,128.0450,128.700,128.700,94359811.0,0.0,1.0,NaN
11,2020-12-16,127.41,128.3700,126.5600,127.810,127.810,98208591.0,0.0,1.0,NaN
12,2020-12-15,124.34,127.9000,124.1300,127.880,127.880,157572262.0,0.0,1.0,NaN
13,2020-12-14,122.60,123.3500,121.5400,121.780,121.780,79075988.0,0.0,1.0,NaN
14,2020-12-11,122.43,122.7600,120.5500,122.410,122.410,86939786.0,0.0,1.0,NaN
15,2020-12-10,120.50,123.8700,120.1500,123.240,123.240,81312170.0,0.0,1.0,NaN
16,2020-12-09,124.53,125.9500,121.0000,121.780,121.780,115089193.0,0.0,1.0,NaN
17,2020-12-08,124.37,124.9800,123.0900,124.380,124.380,82225512.0,0.0,1.0,NaN
18,2020-12-07,122.31,124.5700,122.2500,123.750,123.750,86711990.0,0.0,1.0,NaN
19,2020-12-04,122.60,122.8608,121.5200,122.250,122.250,78260421.0,0.0,1.0,128.05275

In [9]:
print(data_dated[:-1].index)

DatetimeIndex(['2020-12-31', '2020-12-30', '2020-12-29', '2020-12-28',
               '2020-12-24', '2020-12-23', '2020-12-22', '2020-12-21',
               '2020-12-18', '2020-12-17',
               ...
               '2018-12-14', '2018-12-13', '2018-12-12', '2018-12-11',
               '2018-12-10', '2018-12-07', '2018-12-06', '2018-12-04',
               '2018-12-03', '2018-11-30'],
              dtype='datetime64[ns]', name='date', length=525, freq=None)

In [10]:
data_dated.reset_index(inplace = True)

In [11]:
data_dated.index

RangeIndex(start=0, stop=526, step=1)

In [12]:
def EMA(data, periods=20):
    k=2/(periods+1)
    data.loc[data.index[0], 'EMA']= data.loc[data.index[0], '4. close']
    for index in data_dated[:-1].index:
        data.loc[index+1,'EMA'] = k*data.loc[index+1, '4. close']+(1-k)*data.loc[index,'EMA']
    return data

In [13]:
data_dated.head(20)

,date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,SMA
0,2020-12-31,134.08,134.7400,131.7200,132.690,132.690,99116586.0,0.0,1.0,NaN
1,2020-12-30,135.58,135.9900,133.4000,133.720,133.720,96452124.0,0.0,1.0,NaN
2,2020-12-29,138.05,138.7890,134.3409,134.870,134.870,121047324.0,0.0,1.0,NaN
3,2020-12-28,133.99,137.3400,133.5100,136.690,136.690,123124632.0,0.0,1.0,NaN
4,2020-12-24,131.32,133.4600,131.1000,131.970,131.970,54930064.0,0.0,1.0,NaN
5,2020-12-23,132.16,132.4300,130.7800,130.960,130.960,88223692.0,0.0,1.0,NaN
6,2020-12-22,131.61,134.4050,129.6500,131.880,131.880,169351825.0,0.0,1.0,NaN
7,2020-12-21,125.02,128.3100,123.4490,128.230,128.230,121251553.0,0.0,1.0,NaN
8,2020-12-18,128.96,129.1000,126.1200,126.655,126.655,192541496.0,0.0,1.0,NaN
9,2020-12-17,128.90,129.5800,128.0450,128.700,128.700,94359811.0,0.0,1.0,NaN
10,2020-12-16,127.41,128.3700,126.5600,127.810,127.810,98208591.0,0.0,1.0,NaN
11,2020-12-15,124.34,127.9000,124.1300,127.880,127.880,157572262.0,0.0,1.0,NaN
12,2020-12-14,122.60,123.3500,121.5400,121.780,121.780,79075988.0,0.0,1.0,NaN
13,2020-12-11,122.43,122.7600,120.5500,122.410,122.410,86939786.0,0.0,1.0,NaN
14,2020-12-10,120.50,123.8700,120.1500,123.240,123.240,81312170.0,0.0,1.0,NaN
15,2020-12-09,124.53,125.9500,121.0000,121.780,121.780,115089193.0,0.0,1.0,NaN
16,2020-12-08,124.37,124.9800,123.0900,124.380,124.380,82225512.0,0.0,1.0,NaN
17,2020-12-07,122.31,124.5700,122.2500,123.750,123.750,86711990.0,0.0,1.0,NaN
18,2020-12-04,122.60,122.8608,121.5200,122.250,122.250,78260421.0,0.0,1.0,NaN
19,2020-12-03,123.52,123.7800,122.2100,122.940,122.940,78967630.0,0.0,1.0,127.72925

In [14]:
EMA(data_dated, periods=20)

,date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,SMA,EMA
0,2020-12-31,134.08,134.740,131.7200,132.69,132.690000,99116586.0,0.0,1.0,NaN,132.690000
1,2020-12-30,135.58,135.990,133.4000,133.72,133.720000,96452124.0,0.0,1.0,NaN,132.788095
2,2020-12-29,138.05,138.789,134.3409,134.87,134.870000,121047324.0,0.0,1.0,NaN,132.986372
3,2020-12-28,133.99,137.340,133.5100,136.69,136.690000,123124632.0,0.0,1.0,NaN,133.339098
4,2020-12-24,131.32,133.460,131.1000,131.97,131.970000,54930064.0,0.0,1.0,NaN,133.208708
...,...,...,...,...,...,...,...,...,...,...,...
521,2018-12-06,171.76,174.780,170.4200,174.72,42.662410,43098410.0,0.0,1.0,160.3960,163.453650
522,2018-12-04,180.95,182.390,176.2700,176.69,43.143436,41344282.0,0.0,1.0,161.8175,164.714255
523,2018-12-03,184.46,184.940,181.2100,184.82,45.128586,40798002.0,0.0,1.0,163.9490,166.629088
524,2018-11-30,180.29,180.330,177.0300,178.58,43.604929,39531549.0,0.0,1.0,164.9820,167.767270
525,2018-11-29,182.66,182.800,177.7000,179.55,43.841779,41769992.0,0.0,1.0,166.0725,168.889435

In [15]:
def MACD(data):
    k1= 2/(12+1)
    k2= 2/(26+1)
    for index in data[:-1].index:
        data.loc[index+1, 'EMA_1'] = k1*data.loc[index+1, '4. close'] + (1-k1)*data.loc[index, 'EMA_1']
#         data.loc[index+1, 'EMA_2'] = k2*data.loc[index+1, '4. close'] + (1-k2)*data.loc[index, 'EMA_2']
#     data['MACD'] = data['EMA_1'] - data['EMA_2']
    return data

In [16]:
MACD(data_dated)

KeyError: 'EMA_1'

In [ ]:
data_dated.tail()

In [ ]:
def calculate_k(data):
    
    close = data['4. close']
    highest_hi = data['2. high'].rolling(window=10).max()
    lowest_lo = data['3. low'].rolling(window=10).min()
    data['per_k_stoch_10'] = (close- lowest_lo) / (highest_hi - lowest_lo) *100
    
    return data

def calculate_d(data):
    
    data['per_d_stoch_10'] = data['per_k_stoch_10'].rolling(window=10).mean()
    
    return data

def stochastic_oscillator(data):
    data = calculate_k(data)
    data= calculate_d(data)
    
    return data

In [ ]:
stochastic_oscillator(data_dated)

In [ ]:
def accumulation_distribution(data):
    ##data is ordered by date with the oldest having an index of 0
    data.reset_index(inplace = True) 
    values = pd.Series(index = data.index)
    first_idx = data.index.values[0]
    
    for idx in data.index.values:
        today = data.loc[idx]
        close, high, low, volume = today['4. close'], today['2. high'], today['3. low'], today['6. volume']
        
        CLV= ((close-low)- (high-close))/(high-low)
        
        values[idx] = values[idx-1] + CLV * volume if idx != first_idx else 0
        
    data['a/d']=values
    
    return data

In [ ]:
accumulation_distribution(data_dated)

In [ ]:
def obv(data):
    for index in data[:1].index:
        data.loc[index+1, 'OBV'] = abs(data.loc[index+1, '6. volume']- data.loc[index, '6. volume'])
    return data

In [ ]:
obv(data_dated)

In [ ]:
def BBANDS(data):
    data['TP']= (data['2. high'] + data['3. low'] + data['4. close'])/3
    data['MidBand']= data['TP'].rolling(window=20).mean()
    data['Std']= data['TP'].rolling(window=20).std()
    
    data['UpperBand'] = data['MidBand'] + (data['Std'] * 2)
    data['LowerBand'] = data['MidBand'] - (data['Std'] * 2)
    
    data = data.drop(['Std', 'TP'], axis=1)
    
    return data

In [ ]:
 BBANDS(data_dated)